.bars{
    position: absolute;
    top: 120px;
    left: 20px;
}
.donut{
    position: absolute;
    top: 20px;
    left: 350px;
}
.arc{
    fill: black;
}
.shadow{
    text-shadow: 1px 1px 2px white;
}
